!upload/*.webp
# 📁 Node modules
node_modules/

# 🗑 Fichiers système
.DS_Store
Thumbs.db

# 📄 Logs
*.log

# 📁 Fichiers de build/temp
.env
build/
dist/
tmp/
temp/

# 🚫 Ignorer tout dans public/upload...
/public/upload/*

# ✅ ... sauf les fichiers .webp (images véhicules)
/public/upload/*.webp
